@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tempus is a shift planning software that helps you manage your schedule and build it within minutes, helping you save hours every week.  With Tempus, you can manage schedule changes and ensure that your team has up-to-date schedules.  Employees can also request shift changes or update their availability on Tempus</p>
