@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tempus Incorporated<br />
    4 N 4th Street<br />
    Richmond, VA 23219-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.6657162689403!2d-77.44000928519779!3d37.53937658344168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b1113dd2c05be7%3A0xc0e829a34a3b64f4!2s4N4%20Midtown!5e0!3m2!1sen!2sus!4v1580414886518!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>